<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ardruino_Computer_Data_Display.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ardruino_Computer_Data_Display.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ardruino_Computer_Data_Display.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ardruino_Computer_Data_Display.Properties.Settings>
            <setting name="ProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProfileFolder" serializeAs="String">
                <value />
            </setting>
        </Ardruino_Computer_Data_Display.Properties.Settings>
        <Ardruino_Computer_Data_Display.Properties.Settings1>
            <setting name="ProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedProfileFolder" serializeAs="String">
                <value />
            </setting>
        </Ardruino_Computer_Data_Display.Properties.Settings1>
        <Ardruino_Computer_Data_Display.Settings1>
            <setting name="ProgramFilePath" serializeAs="String">
                <value />
            </setting>
        </Ardruino_Computer_Data_Display.Settings1>
    </userSettings>
</configuration>