<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ardruino_Computer_Data_Display.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ardruino_Computer_Data_Display.Settings1>
            <setting name="SampleSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DataTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPort" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="PixelsHor" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="PixelsVert" serializeAs="String">
                <value>128</value>
            </setting>
        </Ardruino_Computer_Data_Display.Settings1>
    </userSettings>
</configuration>